@import "~leaflet-loading/src/Control.Loading.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-control-loading:empty {
  /* Spinner via ajaxload.info, base64-encoded
  background-image: url(https://media.tenor.com/ikHheAHFUmMAAAAj/synchronized-team-synchronized-swimming.gif);
  background-repeat: no-repeat; */
}